<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% unless logged_in? %>
    <a href="<%= new_session_url %>">Login</a>
    <br>
    <a href="<%= new_user_url %>">Sign up</a>
    <br>
  <% else %>
    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">

      <input type="submit" value="Logout">
    </form>
    <br>
  <% end %>
  <%= flash[:errors] %>
  <br><br>

  <% if logged_in? && !(request.original_url == users_url) %>
    <a href="<%= users_url %>">Back to main page</a>
    <br><br>
  <% end %>

  <%= yield %>
</body>
</html>
